### Emergency Department Data

In [1]:
# Install SQLAlchemy (open-source SQL toolkit and Object-Relational Mapping (ORM) library for Python)
%pip install sqlalchemy
# Install PostgreSQL driver 
%pip install psycopg2

Requirement already satisfied: sqlalchemy in c:\users\gowry\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gowry\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gowry\anaconda3\lib\site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: psycopg2 in c:\users\gowry\anaconda3\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Install add-on package for SQLAlchemy
%pip install sqlalchemy_utils

Requirement already satisfied: sqlalchemy_utils in c:\users\gowry\anaconda3\lib\site-packages (0.41.2)
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\gowry\anaconda3\lib\site-packages (from sqlalchemy_utils) (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gowry\anaconda3\lib\site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gowry\anaconda3\lib\site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import Libraries
import pandas as pd
import requests
import json
from datetime import datetime, timedelta
import numpy as np
import sqlalchemy as db
from sqlalchemy_utils import create_database
from sqlalchemy import text

In [4]:
# PostgreSQL connection to staging_database
engine = db.create_engine('postgresql://postgres:Aqua.2212@localhost:5432/staging_database')

# release resources associated with engine
engine.dispose()

In [5]:
# Table 1: Emergency Department Data
emd_attendances_raw = pd.read_csv('Attendances at EMD_week32Y2025.csv', sep= ',', skiprows=2)

In [6]:
emd_attendances_raw.head()

            Date  AH  CGH  KTPH  NTFGH  NUH(A)  SGH  SKH  TTSH  WH
0  Sun, 01/01/23  64  351   286    252     257  309  333   336 NaN
1  Mon, 02/01/23  61  386   326    314     334  342  346   370 NaN
2  Tue, 03/01/23  76  436   401    364     352  343  397   422 NaN
3  Wed, 04/01/23  74  354   311    330     286  305  327   361 NaN
4  Thu, 05/01/23  61  373   335    320     309  337  351   366 NaN

In [7]:
emd_attendances_raw = emd_attendances_raw.rename(columns={"NUH(A)": "NUH"})
print (emd_attendances_raw)

              Date  AH  CGH  KTPH  NTFGH  NUH  SGH  SKH  TTSH     WH
0    Sun, 01/01/23  64  351   286    252  257  309  333   336    NaN
1    Mon, 02/01/23  61  386   326    314  334  342  346   370    NaN
2    Tue, 03/01/23  76  436   401    364  352  343  397   422    NaN
3    Wed, 04/01/23  74  354   311    330  286  305  327   361    NaN
4    Thu, 05/01/23  61  373   335    320  309  337  351   366    NaN
..             ...  ..  ...   ...    ...  ...  ...  ...   ...    ...
940  Tue, 29/07/25  58  397   214    367  296  352  370   411  246.0
941  Wed, 30/07/25  75  387   232    308  302  329  369   364  232.0
942  Thu, 31/07/25  43  386   225    328  288  297  363   377  228.0
943  Fri, 01/08/25  57  406   205    336  263  309  383   374  211.0
944  Sat, 02/08/25  60  314   191    300  229  291  309   302  196.0

[945 rows x 10 columns]

In [8]:
# splitting the date column
emd_attendances_raw['date_proper'] = emd_attendances_raw['Date'].str.split(',').str[1]
print (emd_attendances_raw)

              Date  AH  CGH  KTPH  NTFGH  NUH  SGH  SKH  TTSH     WH  \
0    Sun, 01/01/23  64  351   286    252  257  309  333   336    NaN
1    Mon, 02/01/23  61  386   326    314  334  342  346   370    NaN
2    Tue, 03/01/23  76  436   401    364  352  343  397   422    NaN
3    Wed, 04/01/23  74  354   311    330  286  305  327   361    NaN
4    Thu, 05/01/23  61  373   335    320  309  337  351   366    NaN
..             ...  ..  ...   ...    ...  ...  ...  ...   ...    ...
940  Tue, 29/07/25  58  397   214    367  296  352  370   411  246.0
941  Wed, 30/07/25  75  387   232    308  302  329  369   364  232.0
942  Thu, 31/07/25  43  386   225    328  288  297  363   377  228.0
943  Fri, 01/08/25  57  406   205    336  263  309  383   374  211.0
944  Sat, 02/08/25  60  314   191    300  229  291  309   302  196.0

    date_proper
0      01/01/23
1      02/01/23
2      03/01/23
3      04/01/23
4      05/01/23
..          ...
940    29/07/25
941    30/07/25
942    31/07/25
943    01/08/25
944    02/08/25

[945 rows x 11 columns]

In [9]:
cols_title = list(emd_attendances_raw.columns)

#swapping columns
cols_title [0], cols_title [10] = cols_title [10], cols_title [0]

print (cols_title)

['date_proper', 'AH', 'CGH', 'KTPH', 'NTFGH', 'NUH', 'SGH', 'SKH', 'TTSH', 'WH', 'Date']

In [10]:
#attach new titles back to dataframe
emd_attendances_raw  = emd_attendances_raw [cols_title]
print (emd_attendances_raw)

    date_proper  AH  CGH  KTPH  NTFGH  NUH  SGH  SKH  TTSH     WH  \
0      01/01/23  64  351   286    252  257  309  333   336    NaN
1      02/01/23  61  386   326    314  334  342  346   370    NaN
2      03/01/23  76  436   401    364  352  343  397   422    NaN
3      04/01/23  74  354   311    330  286  305  327   361    NaN
4      05/01/23  61  373   335    320  309  337  351   366    NaN
..          ...  ..  ...   ...    ...  ...  ...  ...   ...    ...
940    29/07/25  58  397   214    367  296  352  370   411  246.0
941    30/07/25  75  387   232    308  302  329  369   364  232.0
942    31/07/25  43  386   225    328  288  297  363   377  228.0
943    01/08/25  57  406   205    336  263  309  383   374  211.0
944    02/08/25  60  314   191    300  229  291  309   302  196.0

              Date
0    Sun, 01/01/23
1    Mon, 02/01/23
2    Tue, 03/01/23
3    Wed, 04/01/23
4    Thu, 05/01/23
..             ...
940  Tue, 29/07/25
941  Wed, 30/07/25
942  Thu, 31/07/25
943  Fri, 01/08/25
944  Sat, 02/08/25

[945 rows x 11 columns]

In [11]:
#drop the last column at position 10 which is now redundant
emd_attendances_raw = emd_attendances_raw.drop(emd_attendances_raw.columns[[10]], axis=1)
print(emd_attendances_raw)

    date_proper  AH  CGH  KTPH  NTFGH  NUH  SGH  SKH  TTSH     WH
0      01/01/23  64  351   286    252  257  309  333   336    NaN
1      02/01/23  61  386   326    314  334  342  346   370    NaN
2      03/01/23  76  436   401    364  352  343  397   422    NaN
3      04/01/23  74  354   311    330  286  305  327   361    NaN
4      05/01/23  61  373   335    320  309  337  351   366    NaN
..          ...  ..  ...   ...    ...  ...  ...  ...   ...    ...
940    29/07/25  58  397   214    367  296  352  370   411  246.0
941    30/07/25  75  387   232    308  302  329  369   364  232.0
942    31/07/25  43  386   225    328  288  297  363   377  228.0
943    01/08/25  57  406   205    336  263  309  383   374  211.0
944    02/08/25  60  314   191    300  229  291  309   302  196.0

[945 rows x 10 columns]

In [12]:
emd_attendances_raw.set_index(['date_proper'], inplace=True)
emd_attendances_raw

             AH  CGH  KTPH  NTFGH  NUH  SGH  SKH  TTSH     WH
date_proper
01/01/23     64  351   286    252  257  309  333   336    NaN
02/01/23     61  386   326    314  334  342  346   370    NaN
03/01/23     76  436   401    364  352  343  397   422    NaN
04/01/23     74  354   311    330  286  305  327   361    NaN
05/01/23     61  373   335    320  309  337  351   366    NaN
...          ..  ...   ...    ...  ...  ...  ...   ...    ...
29/07/25     58  397   214    367  296  352  370   411  246.0
30/07/25     75  387   232    308  302  329  369   364  232.0
31/07/25     43  386   225    328  288  297  363   377  228.0
01/08/25     57  406   205    336  263  309  383   374  211.0
02/08/25     60  314   191    300  229  291  309   302  196.0

[945 rows x 9 columns]

In [13]:
#set date_proper as the index before stacking
emd_stacked = emd_attendances_raw.stack()

# Convert Series with MultiIndex to DataFrame
emd_stacked = emd_stacked.reset_index()

# Rename the columns
emd_stacked.columns = ["date_proper", "hospital_id", "attendance"]

print(emd_stacked)

     date_proper hospital_id  attendance
0       01/01/23          AH        64.0
1       01/01/23         CGH       351.0
2       01/01/23        KTPH       286.0
3       01/01/23       NTFGH       252.0
4       01/01/23         NUH       257.0
...          ...         ...         ...
7961    02/08/25         NUH       229.0
7962    02/08/25         SGH       291.0
7963    02/08/25         SKH       309.0
7964    02/08/25        TTSH       302.0
7965    02/08/25          WH       196.0

[7966 rows x 3 columns]

In [14]:
#add the hospital_name to the name beside the hospital_id
# Create a mapping dict
hospital_mapping = {
    "AH": "Alexandra Hospital",
    "CGH": "Changi General Hospital",
    "KTPH": "Khoo Teck Puat Hospital",
    "NTFGH": "Ng Teng Fong General Hospital",
    "NUH": "National University Hospital",
    "SGH": "Singapore General Hospital",
    "SKH": "Sengkang General Hospital",
    "TTSH": "Tan Tock Seng Hospital",
    "WH": "Woodlands Health Campus"
}

# Insert hospital_name beside hospital (i.e. at index 2)
emd_stacked.insert(
    loc=emd_stacked.columns.get_loc("hospital_id") + 1,
    column="hospital_name",
    value=emd_stacked["hospital_id"].map(hospital_mapping)
)

print(emd_stacked)

     date_proper hospital_id                  hospital_name  attendance
0       01/01/23          AH             Alexandra Hospital        64.0
1       01/01/23         CGH        Changi General Hospital       351.0
2       01/01/23        KTPH        Khoo Teck Puat Hospital       286.0
3       01/01/23       NTFGH  Ng Teng Fong General Hospital       252.0
4       01/01/23         NUH   National University Hospital       257.0
...          ...         ...                            ...         ...
7961    02/08/25         NUH   National University Hospital       229.0
7962    02/08/25         SGH     Singapore General Hospital       291.0
7963    02/08/25         SKH      Sengkang General Hospital       309.0
7964    02/08/25        TTSH         Tan Tock Seng Hospital       302.0
7965    02/08/25          WH        Woodlands Health Campus       196.0

[7966 rows x 4 columns]

In [15]:
#Create table in SQL

emd_stacked.to_sql(name= 'emd_stacked', con = engine, if_exists= 'append', index= False)

966